/* This CSS for example 2 overwrites the default Boutique CSS for customization */
/* See /css/boutique.css for the original, complete, commented CSS */

#demo3{
	display: none;
}
#demo3 .boutique-frame{
}
#demo3 .behind .boutique-frame-image,
#demo3 .back .boutique-frame-image{
	margin: 0;
}
#demo3 .front .boutique-frame-image{
	margin: 15px;
	margin-bottom: 0;
}
#demo3 .boutique-frame-title,
#demo3 .front .boutique-frame-title,
#demo3 .behind .boutique-frame-title,
#demo3 .back .boutique-frame-title{
	color: white;
	font-size: 28px;
	font-weight: normal;
	text-align: center;
	margin: 0 0 20px;
	line-height: 1;
}
#demo3 .boutique-frame-text,
#demo3 .front .boutique-frame-text,
#demo3 .behind .boutique-frame-text,
#demo3 .back .boutique-frame-text{
	background: none;
	padding: 0;
	text-shadow: 0 0 15px black;
	line-height: 1;
}