@import "grizli.css";
@import "font.css"; /* font for winXP ie8 */
@import "demo3.css";
@import "boutique.css";
@import "superfish.css";
@import "jquery.arcticmodal-0.3.css";
*{
	margin:0;
	padding:0;
	border:none;
}
/* reset styles */
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video,main{display:block}mark,rp,rt,ruby,summary,time{display:inline}
a, abbr, acronym, address, applet, article, aside, audio,b, blockquote, big, body,center, canvas, caption, cite, code, command,datalist, dd, del, details, dfn, dl, div, dt, em, embed,fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html,i, iframe, img, ins,kbd, keygen,label, legend, li, meter,nav,object, ol, output,p, pre, progress,q, s, samp, section, small, span, source, strike, strong, sub, sup,table, tbody, tfoot, thead, th, tr, tdvideo, tt,u, ul, var{
    background: transparent;
    border: 0 none;
	font-weight: normal;
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
    vertical-align: top;
}
a{
	text-decoration:none;
}
b *, strong *{
	font-weight:bold;
}
ul {
	list-style: none;
}
ol{
	list-style-position:inside;
}
q {
	quotes: none;
}
table, table td { 
	padding:0;
	border:none;
	border-collapse:collapse;
}
img {
	vertical-align:top; 
	max-width:100%;
}
embed { 
	vertical-align:top;
}
input {
	-webkit-appearance:none;
}
:focus{
	outline:none !important;
}
::-webkit-scrollbar{
	background:rgba(0,0,0,0.1);
	width:10px;
}
::-webkit-scrollbar-thumb{
	background:#a7112a;
}
::-webkit-selection{
	background:#a7112a;
	color:#fff;
}
::-moz-selection{
	background:#a7112a;
	color:#fff;
}
::selection{
	background:#a7112a;
	color:#fff;
}
button::-moz-focus-inner{
	border:0;
}
input,textarea{
	font-size:inherit;
	font-family:inherit;
}
html,body{height:100%;}

/* alba styles */

body{
	font:400 20px/40px "Calibri","sans-serif";
	background:#fff;
	color:#000;
    margin: 0 auto;
}
.ie8 body{
	font-family: 'calibriregular';
}
.secondary{
	font:400 18px/40px "Calibri","sans-serif";
}
.ie8 .secondary{
	font-family: 'calibriregular';
	font-weight:400;
	font-size:18px;
	line-height: 40px;
}
.container{
	width:890px;
	margin:0 auto;
}
span.container{display:block;}
h1,h2,h3,h4,h5,h6{
	font-family: 'Oranienbaum', serif;
	padding-bottom:10px;
}
.main_font{
	font-family: 'Oranienbaum', serif;
}
h1,h2{
	font-size:3em;
	line-height:1.1em;
}
h3{
	font-size:2.2em;
	color:#780608;
	padding-bottom:0;
}
.p_rel{position: relative;}
.text_container_type_2 h3{color:#fff;}
.secondary h1{
	padding-bottom:50px;
	font-size:3.2em;
}
p{
	letter-spacing:0.5px;
	padding-bottom:23px;
}
.secondary p{
	padding-bottom:36px;
}
.clearfix:after{
	content:"";
	display:block;
	clear:both;
}
.t_align_c{
	text-align: center;
}
.t_align_l{
	text-align: left;
}
.t_align_r{
	text-align: right;
}
.f_left{
	float:left;
}
.f_right{
	float:right;
}
.tt_uppercase{
	text-transform:uppercase;
}
.inline{
	display:inline-block;
}
.fc_nml > li:first-child{
	margin-left:0;
}
.relative{
	position:relative;
}
.p_bottom_0{
	padding-bottom:0 !important;
}
.bold{
	font-weight: 700;
}
.m_bottom_10{
	margin-bottom:10px;
}
.m_bottom_15{
	margin-bottom:15px;
}
.m_bottom_20{
	margin-bottom:20px;
}
.m_bottom_30{
	margin-bottom:30px;
}
.m_bottom_35{
	margin-bottom:35px;
}
.m_bottom_40{
	margin-bottom:40px;
}
.m_bottom_45{
	margin-bottom:45px;
}
.f_size_small{
	font-size:.9em;
}
.ls_15{
	letter-spacing: 1.5px;
}
.grey_color{
	color:#acacac;
}
.color_white{
	color:#fff;
}
.color_black{
	color:#000;
}
.d_none{
	display:none;
}
a{
	-webkit-transition:color 1s ease,background-color 1s ease,border-color 1s ease;
	transition:color 1s ease,background-color 1s ease,border-color 1s ease;
}
p a{
	color:#a7112a;
}

/* header */

header{
	border-top:9px solid #681317;
	padding:20px 0 36px;
}
.ls li{
	float:left;
	margin-left:5px;
}
.ls li:first-child,.menu li:first-child,.shop_mini_section span:first-child,.footer_nav li:first-child,
.social_icons li:first-child,.s_icons_type_2 li:first-child{
	margin-left:0;
}
.ls li a{
	font-size:0.8em;
	line-height:0.9em;
	letter-spacing:1.8px;
	color:#000;
	display:block;
	padding:2px 3px 3px 4px;
	border:2px solid transparent;
}
.ls li.active a{
	border-color:#000;
}
.logo{
	margin-left:19px;
}

.banners_wrap{
	position:absolute;
	top:100%;
	width:100%;
	left:0;
}
.banner{
	color:#fff;
	text-transform:uppercase;
	line-height: 0.9em;
	font-size:0.8em;
	letter-spacing: 2px;
	padding:10px 5px 10px 20px;
	position:relative;
	margin-left: 24px;
	background:#a7112a;
	position:relative;
	z-index:2;
	-webkit-transition:background .4s ease;
	transition:background .4s ease;
}
.extra_banner{
	position: absolute;
	right: 0;
	top: 0;
}
.banner:before{
	content:"";
	width:45px;
	height:13px;
	background:inherit;
	position:absolute;
	left:100%;
	top:0;
}
.banner:after{
	content:"";
	width:0;
	height:0;
	position:absolute;
	left:100%;
	top:13px;
	border-top:21px solid #a7112a;	
	border-right:45px solid transparent;
	-webkit-transition:border-color .4s ease;
	transition:border-color .4s ease;
}
.banner.sales{
	background:#780608;
	z-index:1;
}
.banner.sales:after{
	border-top-color:#780608;
}
.banner:hover,.banner:hover:before{
	background:#000;
	-webkit-transition:background .4s ease;
	transition:background .4s ease;
}
.banner:hover:after{
	border-top-color:#000;
}

.h_contact_list{
	text-align: left;
}
.h_contact_list li:first-child{
	padding-top:0;
}
.h_contact_list li{
	padding-top:4px;
}
.h_contact_list li a{
	display:block;
	padding-left:24px;
	font-size:0.85em;
	color:#9e9d9d;
	line-height:1.2em;
	letter-spacing: 1px;
}
.h_contact_list .phone a{background:url("../images/phone_icon.png") no-repeat 0 50%;}
.h_contact_list .mail a{background:url("../images/mail_icon.png") no-repeat 0 50%;}
.h_contact_list li a:hover{
	color:#000;
}
.navigation_wrap{
	padding:20px 0;
	background:#fff;
	width:100%;
	position:relative;
	z-index:5;
	-webkit-transition:position .5s ease;
	transition:position .5s ease;
}
[role="navigation"]{
	height: auto;
}
.navigation_wrap.sticky{
	position:fixed;
	top:0;
	z-index:12;
}
.menu>li,.footer_nav li{
	float:left;
	margin-left:20px;
}
.ie8 .menu li a,
.ie8 .footer_nav li a,
.ie8 .secondary_menu a,
.ie8 .vacancy_title,
.ie8 .bold{font-family: 'calibribold';}
.menu li a,
.footer_nav li a,
.secondary_menu a,.sub_menu li a{
	color:#000;
	font-weight: bold;
	text-transform: uppercase;
	/*letter-spacing:1px;*/
letter-spacing: 0.3px;
	font-size:0.84em;
	line-height:1.2em;
	display:block;
	border-bottom:1px solid transparent;
}
.sub_menu.type_2 li a{
	font-size:1em;
}
.sub_menu li a{
	border:none;
}
.menu>li:hover>a,.footer_nav li:hover a{
	color:#a7112a;
	border-color:#a7112a;
	-webkit-transition:color 0.2s ease,border-color 0.2s ease;
	transition:color 0.2s ease,border-color 0.2s ease;
}
.menu>li.active > a,p a:hover,.sub_menu li.active a,.sub_menu li a:hover{
	color:#bababa;
	border:none;
}
#menu_button{
	width:67px;
	padding:8px 11px 10px;
	background:#fff;
	cursor:pointer;
	position:relative;
	z-index:1;
}
#menu_button > span:first-child{
	margin-top:0;
}
#menu_button > span{
	display:block;
	height:7px;
	margin-top:7px;
	background:-webkit-linear-gradient(left, #7d090d, #b3253b);
	background:-moz-linear-gradient(left, #7d090d, #b3253b);
	background:-o-linear-gradient(left, #7d090d, #b3253b);
	background:-ms-linear-gradient(left, #7d090d, #b3253b);
	background:linear-gradient(left, #7d090d, #b3253b);
}
.discount_button{
	width:50%;
	background:#780608;
	text-align:center;
	padding:7px 10px 6px 77px;
	text-transform: uppercase;
	color:#fff;
	font-size:.8em;
	letter-spacing: 1.5px;
	margin-left:-67px;
	position:relative;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
[role="banner"]:after{
	content:"";
	width:200%;
	height:200%;
	position:absolute;
	display:none;
	top:0;
	z-index:-1;
	left:-50%;
	-webkit-box-shadow:0 10px 35px rgba(0,0,0,0.35) inset;
	-o-box-shadow:0 10px 35px rgba(0,0,0,0.35) inset;
	-ms-box-shadow:0 10px 35px rgba(0,0,0,0.35) inset;
	box-shadow:0 10px 35px rgba(0,0,0,0.35) inset;
}

/* content */

.f_pagination{
	background:#720608;
	padding:22px 0 13px;
}
.fp li:first-child{
	margin-left:16px;
}
.fp li{
	float: left;
	margin-left:53.5px;
	width:11px;
	text-align: center;
}
.fp li a{
	color:#fff;
	line-height: 1em;
	font-size:.9em;
	vertical-align: bottom;
	display:inline-block;
	-webkit-transition:all .1s ease;
	transition:all .1s ease;
}
.fp li a:hover{
	font-size:1.2em;
}
.fp li.active a{
	font-size:3em;
	margin-top:-11px;
}
.next_page,.prev_page{
	text-transform: uppercase;
	color:#000;
	font-weight: 700;
	font-size:0.9em;
	line-height: 1em;
	display:inline-block;
	vertical-align: middle;
	letter-spacing: 1.5px;
}
.next_page:after{
	content:"";
	display:inline-block;
	width:11px;
	height:18px;
	vertical-align: middle;
	margin:-4px 0 0 7px;
	background:url("../images/next_page_icon.png") no-repeat;
}
.prev_page:before{
	content:"";
	display:inline-block;
	width:11px;
	height:18px;
	vertical-align: middle;
	margin:-4px 7px 0 0;
	background:url("../images/prev_page_icon.png") no-repeat;
}
.next_page:hover,.prev_page:hover,.contact_list a{
	color:#a7112a;
	-webkit-transition:color .2s ease;
	transition:color .2s ease;
}
.pages_nav{
	margin:50px 0 30px;
}
.main_gradient{
	background:url("../images/main_gradient.png") repeat-x top left;
	padding:60px 0 0;
}
.press_c_container{
	padding:0 33px;
}
[class^="press_c_button_"]{
	position:absolute;
	display:block;
	cursor:pointer;
	left:-40px;
	top:50%;
	width:23px;
	height:40px;
	margin-top:-20px;
}
.press_c_button_next{
	background:url("../images/carousel_next_type_1.png") no-repeat;
	left:auto;
	right:-40px;
}
.press_c_button_prev{
	background:url("../images/carousel_prev_type_1.png") no-repeat;
}
.date{
	margin-bottom:10px;
	letter-spacing: 1px;
}
[class*="pc_"]{
	margin-bottom:50px;
}
.main_gradient p{
	line-height:1.8em;
}
.contact_list{
	padding-left:51px;
}
.contact_list li{
	position: relative;
}
.contact_list a:hover{
	color:#000;
}
.contact_list li.phone:before,.contact_list li.time:before,.contact_list li.mail:before{
	content:"";
	display:block;
	width:22px;
	height:34px;
	position:absolute;
	left:-50px;
	top:50%;
	margin-top:-17px;
	background:url("../images/c_phone.png") no-repeat;
}
.contact_list li.time:before{
	height:24px;
	background:url("../images/c_time.png") no-repeat;
	margin-top:-12px;
}
.contact_list li.mail:before{
	width:28px;
	height:20px;
	background: url("../images/c_mail.png") no-repeat;
	margin-top:-10px;
	left:-52px;
}
.button_type_1,.button_type_3{
	display:inline-block;
	color:#fff;
	background:#a7112a;
	line-height:1.3em;
	padding:3px 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.button_type_1:hover,.button_type_3:hover{
	background:#000;
}
.button_type_3{
	padding:5px 15px;
	font-size:0.8em;
}
.button_type_1.our_s{
	margin:10px 0 38px 51px;
}
.d_type_1{
	height:3px;
	background:#e1e1e1;
	margin-bottom:25px;
}
.cf_wrap{
	padding:0 51px;
}
label{
	display:inline-block;
	width:160px;
	cursor: pointer;
}
#contact_form input[type="text"],#contact_form input[type="email"],#contact_form textarea{
	display:inline-block;
	width:505px;
	height:28px;
	padding:2px 5px;
	border:3px solid #e1e1e1;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	resize:none;
}
#contact_form textarea{
	height:188px;
	margin-top:7px;
}
#contact_form input[type="submit"],
.form_btn{
	border:2px solid #000;
	color:#000;
	text-transform: uppercase;
	font-weight:bold;
	margin-right:119px;
	padding:0 5px;
	cursor: pointer;
	letter-spacing: 1px;
	font-size:0.9em;
	background:transparent;
	-webkit-transition:background .8s ease,color .8s ease;
	transition:background .8s ease,color .8s ease;
}
#contact_form input[type="submit"]:hover{
	background:#000;
	color:#fff;
}
.text_container .container{
	position:relative;
	z-index:2;
}
.parallax_container{
	position:relative;
	overflow:hidden;
}
.bottom_arrow{
	position:fixed;
	bottom:100px;
	left:50%;
	margin-left:-21px;
	z-index:2;
	-webkit-transition:opacity 0.4s ease,bottom 0.8s ease;
	transition:opacity 0.4s ease,bottom 0.8s ease;
}
.bottom_arrow.lb{
	position:absolute;
	bottom:50%;
	margin-bottom:-18px;
	-webkit-transition:opacity 0.8s ease,bottom 1.4s ease;
	transition:opacity 0.8s ease,bottom 1.4s ease;
}
.bottom_arrow.out{
	opacity:0;
	bottom:900px;
}
.bottom_arrow:hover{
	opacity:1;
}
.f_chrome{
	-webkit-backface-visibility:hidden;
}
.parallax_container > ul > li{
	background-repeat: no-repeat;
	background-position: 0 0;
	background-attachment: fixed;
	overflow: hidden;
	position:relative;
	-webkit-transition:position .4s ease;
	transition:position .4s ease;
}
[class*="parallax_container"] > ul > li{
	border-top:1px solid #ccc;
	*max-width:1920px;
    background-size: cover;
}
[class*="parallax_container"] > ul > li:first-child{
	border-top:none;
}
[class*="parallax_container"] > ul > li > img{
	width:1920px;
	height:1080px;
}
.collection_banner{
	position:absolute;
	top:1180px;
	left:0;
	padding:35px 0 26px;
	width:100%;
	min-height:134px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	background:rgba(255,255,255,0.8);
	-webkit-transition:position .4s ease;
	transition:position .4s ease;
}
.ie8 .collection_banner{background:url("../images/old_ie_bg.png") repeat;}
.ie8 [class^="pattern_"]{background:url("../images/pattern_old_ie_bg.png") repeat;}

.collection_banner.new_collection{
    top:1500px;
}
.parallax_container.type2 .collection_banner{
	top:500px;
}
.parallax_container.type1 .collection_banner.in,.parallax_container.type2 .collection_banner.fixed{
	top:61px !important;
}
.collection_banner h2{
	padding-bottom:0;
	line-height:0.79em;
}
.collection_banner p {padding-left:2px;padding-bottom:17px;letter-spacing: 1px;}
.parallax_container .collection_banner.fixed{
	position:fixed;
	z-index:10;
    top: 61px;
}
.shop_mini_section{
	position:absolute;
	bottom:28px;
	display:block;
}
.shop_mini_section span{
	display:block;
	float:left;
	margin-left:75px;
	color:#fff;
	text-transform: uppercase;
	font-size:0.78em;
	letter-spacing: 1.9px;
	vertical-align: middle;
	position:relative;
}
.shop_mini_section span a,.button_type_2{
	display:inline-block;
	margin-left:9px;
	color:#fff;
	border:2px solid #fff;
	font-weight:bold;
	line-height:1em;
	vertical-align: middle;
	padding:2px 4px 1px;
	margin-top:-4px;
	-webkit-backface-visibility:hidden;
	-webkit-transition:background .5s ease,color .5s ease;
	transition:background .5s ease,color .5s ease;
}
.shop_mini_section li {
	float: left;
	margin-left: 75px;
	color: #fff;
	text-transform: uppercase;
	font-size: 0.78em;
	letter-spacing: 1.9px;
	vertical-align: middle;
}
.shop_mini_section .button_type_2{font-size:1em;}
.button_type_2{
	text-transform: uppercase;
	font-size:0.82em;
	letter-spacing: 1.7px;
	margin-left:0;
	padding:2px 4px 2px;
}
.shop_mini_section span a:hover,.button_type_2:hover{
	background:#fff;
	color:#000;
	-webkit-transition:background .5s ease,color .5s ease;
	transition:background .5s ease,color .5s ease;
}
.text_container{
	padding:42px 0 62px;
	background:url("../images/text_container_bg.jpg") no-repeat;
	position:relative;
	color:#fff;
	-webkit-box-shadow:0 20px 80px 0 rgba(0,0,0,0.7) inset;
}
.text_container h2{
	padding-bottom:50px;
}
.text_container p {
	color:#d2bfc0;
}
.text_container > span{
	background:rgba(83,9,13,0.8);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:0;
}
.ie8 .text_container > span{background:url("../images/t_container_span.png") repeat;}
.text_container:before{
	content:"";
	z-index:1;
	display:block;
	position:absolute;
	width:100%;
	left:0;
	top:0;
	height:215px;
	background:rgba(167,17,42,0.2);
}
.ie8 .text_container:before{background:url("../images/t_container_before.png") repeat;}
.text_container .button_type_1{
	background:#a7112a;
}
.collection_banner.lookbook_cb .button_type_1{
	background:#a7112a;
	margin:26px 0 15px;
}
.lookbook,.lookbook_list .owl-item{
	overflow:hidden;
}
.lookbook_list .owl-item{
	position: relative;
	float:left;
}
.lookbook_list.owl-carousel .owl-wrapper-outer{
	overflow:visible;
}
.lookbook_list .owl-item img{
	-webkit-transition:-webkit-transform 1.2s ease;
	transition:transform 1.2s ease;
}
.lookbook_list .owl-item:hover > div.zoom-img > img{
	-webkit-transform:scale(1.50);
	transform:scale(1.50);
}
.lookbook_list > div .hover_container{
	position:absolute;
	bottom:-80px;
	right:0px;
	padding:0 10px 0 0;
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.lookbook_list > div .hover_container .shop_mini_section{
	position:absolute;
    left: 133px;
    top: -56px;
}
.lookbook_list .carousel-item{
    height: 521px;
    overflow: hidden;
}
.lookbook_list .carousel-item .normal-image{
    overflow: hidden;
    float: left;
    width: 445px;
    height: 100%;
}
.owl-prev,
.owl-next{
	position:absolute;
	width:500%;
	height:100%;
	top:0;
}
.owl-prev{right:100%;background: url(../images/carousel_prev_type_1.png) 98% 50% no-repeat rgba(255,255,255,0.65);}
.owl-next{left:100%;background: url(../images/carousel_next_type_1.png) 100px 50% no-repeat rgba(255,255,255,0.65);}
.relative{
	position:relative;
}
.owl-prev:hover,
.owl-next:hover{
	background-image: none;
}
.owl-prev:hover{
	cursor: url(../images/carousel_prev_type_1.png), default;
}
.owl-next:hover{
	cursor: url(../images/carousel_next_type_1.png), default;
}
[class$="_pattern"]{
	height:100%;
	background:rgba(255,255,255,0.65);
	position:absolute;
	width:100%;
}
.left_pattern{
	left:100%;
}
.right_pattern{
	right:100%;
}
.social_icons li{
	float:left;
	margin-left:4px;
}
.social_icons li a{
	display:block;
	position:relative;
	width:25px;
	height:25px;
	background:#fff;
}
.social_icons_wrap{
    width: 445px;
	background:#fff;
	margin-right:-10px;
	padding:20px 20px 20px 0;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.m_image_container:after{
	content:"";
	display: block;
	width:100%;
	height:74px;
	background:url("../images/collection_mix_shadow.png") repeat-x;
	position:absolute;
	bottom:0;
	left:0;
}
.m_image_container .shop_mini_section{
	z-index:2;
	left:30px;
	bottom:10px;
}
.m_item figcaption{
	padding:5px 0 0;
}
.share_list > li{
	float:left;
	margin-left:4px;
}
.share_list > li > a{
	display:block;
	width:25px;
	height:25px;
}
.share_list > li > a:hover > img{
	-webkit-animation:sizejump .4s ease;
	-moz-animation:sizejump .4s ease;
	-o-animation:sizejump .4s ease;
	-ms-animation:sizejump .4s ease;
	animation:sizejump .4s ease;
}
.vacancy_title{
	font:900 .9em/2em "Calibri", "sans-serif";
	color:#000;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	width:266px;
	padding-left:50px;
}
.toggle.vacancy dt{
	padding:15px 15px 21px 50px;
	border-top:3px solid #e1e1e1;
	position:relative;
	cursor: pointer;
	overflow:hidden;
}
.toggle.vacancy dd{
	padding:0px 15px 40px 75px;
}
.toggle.vacancy dt .tv_title{
	-webkit-transition:color .7s ease;
	-moz-transition:color .7s ease;
	-o-transition:color .7s ease;
	transition:color .7s ease;
}
.toggle.vacancy dt:before,.toggle.vacancy dt:after{
	content:"";
	display:block;
	width:18px;
	height:11px;
	position:absolute;
	background:url("../images/arrow_down.png") no-repeat;
	left:13px;
	top:50%;
	margin-top:-7px;
	-webkit-transition:left .4s ease;
	-moz-transition:left .4s ease;
	-o-transition:left .4s ease;
	transition:left .4s ease;
}
.toggle.vacancy dt:hover .tv_title,
.toggle.vacancy dt.active .tv_title{
	color:#a7112a;
	-webkit-transition:color .1s ease;
	-moz-transition:color .1s ease;
	-o-transition:color .1s ease;
	transition:color .1s ease;
}
.toggle.vacancy dt:after{
	left:-68px;
	background:url("../images/arrow_up.png") no-repeat;
	-webkit-transition-delay:.2s;
	-moz-transition-delay:.2s;
	-o-transition-delay:.2s;
	transition-delay:.2s;
}
.toggle.vacancy dt.active:after{left:13px;}
.toggle.vacancy dt.active:before{left:-68px;}
.tv_region{
	width:266px;
}
.toggle.vacancy .bulled_list,.toggle.vacancy [role="button"]{
	margin-left:-30px;
}
.bulled_list > li{
	padding-left:30px;
	position:relative;
	line-height:1.7em;
}
.bulled_list > li:before{
	content:"";
	display:block;
	width:3px;
	height:3px;
	background:#959595;
	position:absolute;
	left:0;
	top:50%;
}
.text_container_type_2{
	padding:38px 0 42px;
	background:url("../images/text_container_bg_2.jpg") repeat-x;
}
.trend_column{
	width:50%;
}
.trend_column.type_2{
	margin-top:110px;
}
.trend_column .trend_item figcaption{
	background:#a7112a;
	-webkit-box-shadow:0 20px 70px rgba(0,0,0,0.12) inset;
	-moz-box-shadow:0 20px 70px rgba(0,0,0,0.12) inset;
	-o-box-shadow:0 20px 70px rgba(0,0,0,0.12) inset;
	-ms-box-shadow:0 20px 70px rgba(0,0,0,0.12) inset;
	box-shadow:0 20px 70px rgba(0,0,0,0.12) inset;
}
.trend_column.type_2 .trend_item figcaption{
	background:#d92946;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none;
	-ms-box-shadow:none;
	box-shadow:none;
}
.trend_item figcaption{
	padding:13px 37px;
	min-height:228px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.trend_item_img a[href]{
	position:absolute;
	top:46px;
	left:34px;
}
.trend_item_img{
	overflow: hidden;
}
.trend_item_img img{
	min-width:100%;
	-webkit-transition:-webkit-transform 1.4s ease;
	-moz-transition:transform 1.4s ease;
	-o-transition:transform 1.4s ease;
	transition:transform 1.4s ease;
	-webkit-backface-visibility:hidden;
}
.trend_item_img:hover img{
	-webkit-transform:scale(1.15);
	-moz-transform:scale(1.15);
	-o-transform:scale(1.15);
	-ms-transform:scale(1.15);
	transform:scale(1.15);
}
.ftleft_pos{
	opacity:0;
	left:-60px;
	-webkit-transition:opacity .4s ease,left .4s ease;
	transition:opacity .4s ease,left .4s ease;
}
.ftleft_pos_finished{
	opacity:1;
	left:0;
}
.ftleft{
	opacity:0;
	-webkit-transform:translateX(-60px);
	transform:translateX(-60px);
	-webkit-transition:-webkit-transform 0.8s ease,opacity 0.8s ease,background-color 0.8s ease;
	transition:transform 0.4s ease,opacity 0.8s ease,background-color 0.8s ease;
}
.ftleft-finished{
	opacity:1;
	-webkit-transform:translateX(0px);
	transform:translateX(0px);
}
@keyframes sizejump{
	0%,100%{-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}
	50%{-moz-transform:scale(1.2);-o-transform:scale(1.2);-ms-transform:scale(1.2);transform:scale(1.2);}
}
@-webkit-keyframes sizejump{
	0%,100%{-webkit-transform:scale(1);}
	50%{-webkit-transform:scale(1.2);}
}
.ie8 #single_galery img{
	max-width:none;
}

/* footer */

.footer_nav{
	display:inline-block;
	padding:42px 0 42px;
}
.footer_nav li{
	margin-left:36px;
}
.footer_nav li a{
	letter-spacing:2.4px;
}
.share{
	text-transform:uppercase;
	letter-spacing:2px;
	background:#e1e1e1;
	color:#000;
	padding:20px 36px;
	height:81px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	overflow:hidden;
}
.share .title{
	margin-bottom:22px;
}
.s_icons_type_2 li{
	float:left;
	margin-left:10px;
}
.copyright{
	padding:15px 0;
	letter-spacing: 2px;
	font-size:0.9em;
}


@media only screen and (max-height:768px){
	[class*="parallax_container"] > ul > li{
		width:1366px;
	}
	[class*="parallax_container"] > ul > li > img{
		width:1366px;
		height:768px;
	}
}


body.green .btn{
	background: green;
}

body.orange .special_bg{
	background: orange;
}

.special_color{
	
}

/* Responsive Styles */

@media screen and (max-width:992px) and (min-width:768px){
	body{
		overflow-x:hidden;
	}
	body > *{
		-webkit-transition:-webkit-transform .3s ease !important;
		-moz-transition:transform .3s ease !important;
		-o-transition:transform .3s ease !important;
		transition:transform .3s ease !important;
	}
	body.opened > *{
		-webkit-transform:translateX(254px);
		-moz-transform:translateX(254px);
		-o-transform:translateX(254px);
		-ms-transform:translateX(254px);
		transform:translateX(254px);
	}
	[role="navigation"]{
		position:absolute;
		top:0;
		left:0;
		background:#151515;
		z-index:150;
		width:254px;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-transform:translateX(-100%);
		-moz-transform:translateX(-100%);
		-o-transform:translateX(-100%);
		-ms-transform:translateX(-100%);
		transform:translateX(-100%);
	}
	.navigation_wrap{
		position: static;
	}
	.navigation_wrap:after{
		content:"";
		display:block;
		clear: both;
	}
	.menu > li {
		float:none;
		margin-left:0;
	}
	[role="banner"]{
		border-top:none;
		position:relative;
		overflow: hidden;
		padding:34px 0 36px;
	}
	.shop_btn{
		width:50%;
		margin-top:0;
		background:#a7112a;
		color:#fff;
		padding-top:17px;
		padding-bottom:16px;
	}
	.menu > li > a{
		border-bottom:none;
		color:#d4d4d4;
		padding:10px 0 10px 30px;
	}
	.menu > li > a:hover,.menu > li.active > a{
		color:#d4d4d4;
		background: #2d2d2d;
	}
	.logo{
		width:94px;
		height:55px;
		margin-left:0;
		margin-right:30px;
	}
	.h_contact_list li a{
		font-size:1em;
	}
	.container{
		width:94%;
	}
	.collection_item{
		width:30%;
		margin-left: 5%;
	}
	.extra_banner{
		right:43px;
	}
	.p_sm_0{
		padding:0;
	}
	.f_sm_right{
		float:right;
	}
	.f_sm_left{
		float:left;
	}
	.f_sm_none{
		float:none;
	}
	.d_sm_block,[role="banner"]:after{
		display:block;
	}
	.d_sm_none{
		display:none;
	}
}
@media screen and (max-width:768px){
	body{
		overflow-x:hidden;
	}
	body > *{
		-webkit-transition:-webkit-transform .3s ease !important;
		-moz-transition:transform .3s ease !important;
		-o-transition:transform .3s ease !important;
		transition:transform .3s ease !important;
	}
	body.opened > *{
		-webkit-transform:translateX(254px);
		-moz-transform:translateX(254px);
		-o-transform:translateX(254px);
		-ms-transform:translateX(254px);
		transform:translateX(254px);
	}
	[role="navigation"]{
		position:absolute;
		top:0;
		left:0;
		background:#151515;
		z-index:150;
		width:254px;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-transform:translateX(-100%);
		-moz-transform:translateX(-100%);
		-o-transform:translateX(-100%);
		-ms-transform:translateX(-100%);
		transform:translateX(-100%);
	}
	.navigation_wrap{
		position: static;
	}
	.navigation_wrap:after{
		content:"";
		display:block;
		clear: both;
	}
	.menu > li {
		float:none;
		margin-left:0;
	}
	[role="banner"]{
		border-top:none;
		position:relative;
		overflow: hidden;
		padding:34px 0 36px;
	}
	.shop_btn{
		width:50%;
		margin-top:0;
		background:#a7112a;
		color:#fff;
		padding-top:17px;
		padding-bottom:16px;
	}
	.menu > li > a{
		border-bottom:none;
		color:#d4d4d4;
		padding:10px 0 10px 30px;
	}
	.menu > li > a:hover,.menu > li.active > a{
		color:#d4d4d4;
		background: #2d2d2d;
	}
	.logo{
		width:94px;
		height:55px;
		margin-left:0;
		margin-right:30px;
	}
	.h_contact_list li a{
		font-size:1em;
	}
	.collection_item{
		margin-left:auto !important;
		margin-right:auto !important;
	}
	.m_bottom_20{
		margin-bottom:20px;
	}
	.container{
		width:94%;
	}
	.share{
		padding-left:0;
		padding-right:0;
	}
	.p_xs_0{
		padding:0;
	}
	.f_xs_right{
		float:right;
	}
	.f_xs_left{
		float:left;
	}
	.f_xs_none{
		float:none;
	}
	.d_xs_block,[role="banner"]:after{
		display:block;
	}
	.d_xs_none{
		display:none;
	}
	#contact_form input[type="text"],
	#contact_form input[type="email"],
	#contact_form textarea{
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	.main_gradient{padding-bottom: 60px;}
	
	.menu li ul,
	.sub_menu, 
	.menu li.sfHover>ul{
		position: static;
		border: none;
		padding: 10px 0 10px 40px;
	}

	.menu li ul li,
	.sub_menu li, 
	.menu li.sfHover>ul li{
		display: block;
		margin: 0;
		text-align: left;
		padding: 4px 0px;
	}
	.menu li ul li a,
	.secondary_menu li a,
	.sub_menu li a{
		color: #d4d4d4;
	}
	.menu li ul li a:hover,
	.secondary_menu li a:hover,
	.sub_menu li a:hover{
		color: #a7112a;
	}
	.trend_column,
	.address_list___left_col,
	.address_list___right_col,
	.maps_list{width: auto;}

	.trend_column.type_2,
	.address_list___left_col,
	.address_list___right_col{margin: 0;}

	.gradient_box.m_top{margin-top: 0;}

	.address_list__item{border: none;margin: 0;}

	.address_list___left_col,
	.address_list___right_col{
		border-top: 3px solid #e1e1e1;
		border-right: none;
	}

	.address_list .address_list__item:last-child .address_list___left_col,
	.address_list .address_list__item:last-child .address_list___right_col{
		padding-bottom: 20px;
	}

	.maps_list,
	.map_filter{text-align: center;}

	.map_filter{
		border-top: 3px solid #acacac;
		border-bottom: 3px solid #acacac;
		margin: 20px 0
	}
	.maps_list>li,
	.map_filter a{
		display: inline-block;
		margin: 0 10px;
	}
	.map{padding-bottom: 40px;}
}
@media screen and (max-width:484px){
	.discount_button,.shop_btn{
		font-size:.6em;
	}
	.toggle_menu__top{
		font-size:40px;
	}
	.toggle_menu__top a{
		background-position:right 14px;
	}
	.toggle_link.active{
		background-position:right -45px;
	}
	.logo{
		margin-right:5px;
		width:90px;
		height:auto;
	}
	.secondary_menu li ul li{
		display:list-item;
		margin:10px 0;
	}
	.secondary_menu > li{
		margin:0 5px;
	}
	.secondary_menu ul{
		padding-top:0;
	}
	.discount_button{
		letter-spacing: 0;
		width:60%;
	}
	.shop_btn{
		width:40%;
	}
}