nav{ position:relative; margin: 0px 0 0 0;}
.menu ul,
.secondary_menu ul{position:absolute;/* left offset of submenus need to match (see below) */}


/*================================>> 2 Level <<========================================*/

.secondary_menu{
	text-align: center;
}

.menu li ul,
.menu li.sfHover>ul,
.secondary_menu ul{left:0;top:40px;border-top: 3px solid #e1e1e1;width: 100%;padding:15px 0 0; z-index:99; text-align: center;}
.secondary_menu ul{
	top: 35px;
	padding-top: 19px;
}

.menu li ul li,
.secondary_menu li{display: inline-block; margin: 0 10px;}
.menu>li>ul>li>a{}
.menu li li a:hover, .menu li.sfHover li.sfHover>a,
.menu li li.current>a,
.secondary_menu a:hover,
.secondary_menu .current>a{color: #acacac;}

.menu li li ul{
	top: 51px;
}